.dialog {
  overflow: hidden;
  margin: 0 auto;
  letter-spacing: 0.05em;
  animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;

  background-color: #d0d3d0;
  color: #202020;
  border-radius: 0.5rem;
  max-height: 15vh;
  font-size: 2.5rem;
  position: relative;
  width: 50vw;
  height: 7.5rem;

  img {
    width: 1.7rem;
    position: absolute;
    top: 1rem;
    right: 1.2rem;
    animation-name: blinking;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}
.name {
  background-color: #d0d3d0;
  color: #202020;
  border-radius: 0.5rem;
  max-height: 15vh;
  font-size: 2.5rem;
  position: relative;
  width: 50vw;
  height: 7.5rem;
  display: flex;
  justify-content: space-evenly;

  input {
    height: 4rem;
    align-self: center;
  }
  button {
    height: 4rem;
    align-self: center;
    padding: 0.5rem 2rem;
  }

  img {
    width: 1.7rem;
    position: absolute;
    top: 1rem;
    right: 1.2rem;
    animation-name: blinking;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}

@keyframes blinking {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
